.idea/
bin/
obj/
*.DotSettings.user
/01/day-one/HistorianHysteria/01-input.txt
/02/day-two/RedNosedReports/02-input.txt
/03/day-three/MullItOver/03-input.txt
/04/day-four/CeresSearch/04-input.txt
/05/day-five/PrintQueue/05-input.txt
/06/day-six/GuardGallivant/06-input.txt
/07/day-seven/BridgeRepair/07-input.txt
