/01/day-one/HistorianHysteria/01-input.txt
/.idea/
/01/day-one/.idea/
/01/day-one/HistorianHysteria/bin/
/01/day-one/HistorianHysteria/obj/
/01/day-one/ListDistanceService/bin/
/01/day-one/ListDistanceService/obj/
/01/day-one/ListDistanceService.Tests/bin/
/01/day-one/ListDistanceService.Tests/obj/
/01/day-one/day-one.sln.DotSettings.user
